@font-face {
  font-family: "iconfont"; /* Project id 3241614 */
  src: url('iconfont.woff2?t=1647143657855') format('woff2'),
       url('iconfont.woff?t=1647143657855') format('woff'),
       url('iconfont.ttf?t=1647143657855') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon:before {
  content: "\e60e";
}

.icon-iconfonthuangguan:before {
  content: "\e63c";
}

.icon-iconfontyundonghuwai:before {
  content: "\e647";
}

.icon-iconfontzhaomingdianzi:before {
  content: "\e648";
}

.icon-icon1:before {
  content: "\e651";
}

.icon-iconfontgongyichongwu:before {
  content: "\e649";
}

.icon-iconfonticon:before {
  content: "\e639";
}

.icon-huabanfuben:before {
  content: "\e623";
}

.icon-hamburger:before {
  content: "\e600";
}

.icon-tuichu:before {
  content: "\e7fa";
}

.icon-yanjing:before {
  content: "\e62f";
}

.icon-yonghu:before {
  content: "\e63d";
}

.icon-suo:before {
  content: "\e9d8";
}

.icon-biyan:before {
  content: "\e6cf";
}

